rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /permissions/{userId} {
      allow write: if request.auth != null && get(/databases/$(database)/documents/permissions/$(request.auth.uid)).data.isAdmin == true;
    }

    match /agendaItems/{agendaId} {
      allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/permissions/$(request.auth.uid)).data.isAdmin == true;
    }

    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }

    match /testimonies/{testimonyId} {
      allow read: if true
      allow create: if request.auth != null;
      allow delete: if request.auth != null && get(/databases/$(database)/documents/permissions/$(request.auth.uid)).data.isAdmin == true;
    }

  }
}
